* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(243, 242, 242);
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    background-color: #CB6015;
    padding: 28px 30px 28px 30px;
    margin-bottom: 32px;
}

header h1{
    color: black;
    max-width: 600px;
}

header h1:hover{
    color: #00ff85;
    transition: 600ms;
}

main {
    padding: 0 2rem;
}

main .about-me {
    margin-bottom: 4rem;
}

main .about-me figure {
    margin-bottom: 2rem;
}

main .about-me figure img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    transition: 800ms;
    
}

main .about-me figure img:hover{
    transition: 800ms;
    border-radius: 2rem;
}

main .about-me h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

main .about-me p {
    max-width: 42rem;
    text-align: justify;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
}


main .listas h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.2rem;
}

main .listas ol,
main .listas ul {
    margin-left: 1rem;
}

main .listas > div {
    margin-bottom: 2.4rem;
}

footer{
    width: 100%;
    background-color: #CB6015;
    padding: 1rem;
}

footer nav a img {
    width: 32px;
    height: 32px;
}

footer nav a img {
    margin-right: 20px;
}

footer nav a{
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
}

footer nav a:hover{
    color: #00ff85;
    transition: 600ms;
    cursor: pointer;
}
